.main-container {
  padding: 1.5rem;
  min-height: 100vh;
  margin-top: 5rem;
}

.graphs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
}

.graphs-container {
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

app-recent {
  width: 40%;
  height: 100%;
  min-width: 300px;
  min-height: 720px;
}

@media screen and (max-width: 1024px) {
  .graphs {
    flex-direction: column;
  }

  app-recent {
    width: 100%;
    min-width: unset;
    min-height: unset;
  }
}
