<section class="flex-vertical overview container-bordered">
  <h2>Recent Purchases</h2>
  <p class="subtitle">
    You recently made {{ recentPurchases()?.length | pluralize : "purchase" }}
  </p>

  @if (expenses()) {
  <table class="overview-table">
    <tbody>
      <app-expense-row
        [paginatedPurchases]="paginatedPurchases()"
      ></app-expense-row>
    </tbody>
  </table>
  <app-pagination-buttons
    [currentPage]="currentPage()"
    [comparePage]="recentPurchases()?.length || 0"
    (previousPage)="previousPage()"
    (nextPage)="nextPage()"
  />
  }@else {
  <h4>No expenses found. Add an expense to view the summary.</h4>
  }
</section>
