.pie-container {
  display: flex;
  max-height: 375px;
  width: 100%;
  margin: 0 auto; /* Center the chart */
}

.pie-wrapper {
  display: flex;
  height: 275px;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}

.subtitle {
  color: var(--color-low);
}
